<div class="message-modal free-gift-modal">
  <div class="message-modal-overlay">
    <div class="modal__content free-gift-modal__content" role="dialog" aria-modal="true" aria-label="DialogHeading">
  
      <div class="modal-inner">
        <button type="button" class="modal__close-button" aria-label="{{ 'accessibility.close' | t }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M6 6L18.7742 18.7742" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 18.7734L18.7742 5.99924" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
  
        <h2 class="free-gift-modal__heading">
          {{ 'sections.cart.free_gift.no_free_gifts_selected' | t }}
        </h2>
  
        <p class="free-gift-modal__message">
          {{ 'sections.cart.free_gift.no_free_gifts_confirm' | t }}
        </p>
  
        <div class="buttons-wrapper">
          <button class="btn btn--primary" data-actions="submit-cart" type="submit" name="checkout" form="cart" aria-label="Yes">
            Yes
          </button>
          <button class="btn btn--secondary" data-actions="close-modal" aria-haspopup="dialog" aria-label="NO">
            NO
          </button>
        </div>
  
      </div>
    </div>
  </div>

</div>
